@{
  Layout = "/Views/Shared/_Layout.cshtml";
}

<div id="container">
    <fieldset title="Login">
        <legend>Login:</legend>
        <img src="~/Content/MM-logo-black1%20(1).png" />
        <a href="@Url.RedirectToProvider("facebook")"><img src="/Content/facebook_32.png" alt="Login with your Facebook account."/></a>
        <a href="@Url.RedirectToProvider("google")"><img src="/Content/google_32.png" alt="Login with your Google account."/></a>
    </fieldset>
    
</div>